@import 'styles/variaveis';
@import 'styles/breakpoints';

.item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    position: relative;

    img {
        padding: 0.8rem;
        width: 40px;
    }

    p {
        display: none;
        color: $branco;
        text-decoration: none;
        font-size: 1.6rem;
        position: absolute;
        margin-right: 5rem;
        background: rgba($color: #303030, $alpha: 0.7);
        padding: 1rem;
        border-radius: 20px;
        min-width: 120px;
        text-align: center;
        opacity: 0;
    }

    &:hover {
        img {
            background: rgba($color: #555555, $alpha: 0.7);
            border-radius: 50%;
        }

        p {
            display: block;
            opacity: 1;
            animation: paragrafo linear .5s;
        }
    }
}

@keyframes paragrafo{
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}

@media only screen and (max-width: $mobile) {
    .item {
        &:hover {
            p {
                display: none;
            }
        }
    }
}